apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-minikube-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/IsoardiMarius/opus-major-assignment.git
    targetRevision: main
    path: deploy/clusters/minikube
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
