apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: player-data-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

images:
  - name: ghcr.io/isoardimarius/player-data-service
    newName: ghcr.io/isoardimarius/player-data-service
    digest: sha256:36495b24318e604984f7231497e3790175ab966d90140a530237e463dcec8e6e
