apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: "82.4.3"
    helm:
      releaseName: kube-prometheus-stack
      values: |
        crds:
          enabled: false
        grafana:
          adminPassword: "admin1234"
          grafana.ini:
            dashboards:
              min_refresh_interval: 5s
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - grafana.127.0.0.1.nip.io
            path: /
            pathType: Prefix
          sidecar:
            dashboards:
              searchNamespace: ALL
        prometheus:
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
